<ul class="menu-inner py-1">
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-user"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-message-rounded"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-directions"></i>
            <div data-i18n="Analytics">Rehberler</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-star"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>


</ul>
